# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Store filepath in a variable
input_file = "../output_data/weather_df.csv"

In [6]:
input_df = pd.read_csv(input_file, encoding="utf-8")
input_df = input_df.drop(columns=["Unnamed: 0"])
input_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,butaritari,1,KI,1601254150,80,3.07,172.79,82.11,17.13
1,bengkulu,99,ID,1601254151,76,-3.80,102.27,79.83,6.85
2,rikitea,0,PF,1601254151,78,-23.12,-134.97,74.62,11.88
3,mehamn,70,NO,1601254152,82,71.04,27.85,40.05,12.62
4,lagoa,50,PT,1601254153,88,39.05,-27.98,70.21,6.33
...,...,...,...,...,...,...,...,...,...
468,sokoto,3,NG,1601254397,66,13.06,5.24,80.01,7.72
469,golden,90,US,1601254398,53,39.76,-105.22,50.00,14.99
470,gat,0,IL,1601254201,79,31.61,34.76,77.00,5.03
471,bertoua,54,CM,1601254399,98,4.58,13.68,66.47,4.76
472,guantanamo,40,CU,1601254399,70,20.14,-75.21,86.00,9.17

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
gmaps.configure(api_key=g_key)

In [12]:
locations = input_df[["Lat", "Lng"]]

humidity = input_df["Humidity"].astype(float)


figure_layout = {
     'width' : '1000px',
     'height':'400px',
     'border':'1px solid black',
     'padding':'1px',
     'margin':'0 auto 0 auto'
 }

fig = gmaps.figure(layout=figure_layout)

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=3,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [35]:
#create your ideal weather dataframe
ideal_weather_df = pd.DataFrame(input_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness", "Lat", "Lng"])

max_temp = (ideal_weather_df["Max Temp"] <= 90) & (ideal_weather_df["Max Temp"] > 72)
wind_speed = (ideal_weather_df["Wind Speed"] < 20)
cloudiness = (ideal_weather_df["Cloudiness"] == 0)

# ideal weather[max_temp & wind_speed & cloudiness]
ideal_weather_df[max_temp & wind_speed & cloudiness]

          City  Max Temp  Wind Speed  Cloudiness    Lat     Lng
2      rikitea     74.62       11.88           0 -23.12 -134.97
8       avarua     77.00       12.75           0 -21.21 -159.78
11      dingle     84.45        2.62           0  11.00  122.67
19        atar     88.68       10.92           0  20.52  -13.05
42      tiznit     72.09        1.90           0  29.58   -9.50
99      acarau     77.32       14.29           0  -2.89  -40.12
139   oliveira     72.07        2.71           0 -20.70  -44.83
145   dehloran     83.12        6.29           0  32.69   47.27
201  susangerd     84.20        9.17           0  31.56   48.18
210      lefka     73.40        2.24           0  35.11   32.85
223      wagar     87.98        3.91           0  16.15   36.20
232        mul     73.87        2.77           0  20.07   79.67
236       jati     79.43        9.82           0  24.35   68.27
262      adrar     89.67       10.83           0  20.50  -10.07
272     riyadh     80.60        2.24           0  24.69   46.72
298    itabira     82.40        5.82           0 -19.62  -43.23
381      tahta     78.80        5.82           0  26.77   31.50
422       tefe     76.59        1.39           0  -3.35  -64.71
439       jalu     85.03        8.37           0  29.03   21.55
470        gat     77.00        5.03           0  31.61   34.76

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure